:host{
    text-align: center;
}
.aspero{
    image-rendering: pixelated;
}
#draw{
    max-width: 40%;
    min-width: 200px;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#drawR, #drawG, #drawB{
    max-width: 30%;
}