<h1>Trabalho PDI 2022</h1><br>
<div class="flex">
    <div class="superTools">
        <app-img-upload></app-img-upload>
        <h1></h1>
        <div class="flex">
            <button mat-stroked-button style="margin-right: 16px;" color="accent" (click)="undo()"  [disabled]="!this.servico.canUndo"><mat-icon>undo</mat-icon></button>
            <button mat-raised-button color="accent" [matMenuTriggerFor]="functions" class="">Funções</button>
        </div>
        <mat-menu #functions="matMenu">
            <button mat-menu-item [matMenuTriggerFor]="func1">Cor</button>
            <button mat-menu-item [matMenuTriggerFor]="func2">Calculos</button>
            <button mat-menu-item [matMenuTriggerFor]="func3">Ruídos</button>
            <button mat-menu-item [matMenuTriggerFor]="func4">Transformada Cosseno</button>
        </mat-menu>
        
        <mat-menu #func1="matMenu">
            <button mat-button color="accent" (click)="negativar()" [disabled]="!servico.isLoaded">Inverter cores</button>
            <br>
            <button mat-button color="accent" (click)="tornarCinza()" [disabled]="!servico.isLoaded">Tornar cinza</button>
            <br>
            <button mat-button color="accent" (click)="equalizarHistograma()" [disabled]="!servico.isLoaded">Equalizar histograma</button>
            <br>
            <button mat-button color="accent" (click)="pseudoCores()" [disabled]="!servico.isLoaded">Pseudo cores</button>
            <button mat-menu-item [matMenuTriggerFor]="func11">Binarização e Limiarizaçao</button>
            <br>
            <button mat-menu-item [matMenuTriggerFor]="func12">Compressão de escala dinâmica</button>
        </mat-menu>

        <mat-menu #func11="matMenu">
            <button mat-button [disabled]="true">Limiar</button>
            <mat-slider
                [disabled]="!servico.isLoaded"
                [min] = "0"
                [max]= "servico.getValMax()"
                [thumbLabel]="true"
                color="accent"
                [(value)]="limiar"
                (click)="$event.stopPropagation();"
            ></mat-slider><br>
            <button mat-button color="accent" (click)="binarizacao()" [disabled]="!servico.isLoaded">Binarização</button><br>
            <button mat-button color="accent" (click)="limiarizacao()" [disabled]="!servico.isLoaded">Limiarização</button><br>
            <button mat-button color="accent" (click)="otsuL()" [disabled]="!servico.isLoaded">otsu limiarização</button><br>
            <button mat-button color="accent" (click)="otsuB()" [disabled]="!servico.isLoaded">otsu binarização</button>
        </mat-menu>

        <mat-menu #func12="matMenu">
            <button mat-button [disabled]="true">C</button>
            
            <mat-slider
                [disabled]="!servico.isLoaded"
                [min] = "1"
                [max]= "50"
                [thumbLabel]="true"
                color="accent"
                [(value)]="Cnumber"
                (click)="$event.stopPropagation();"
                style="overflow: visible"
            ></mat-slider>
            <br>
            <button mat-button [disabled]="true">Gamma</button>
            
            <mat-slider
                [disabled]="!servico.isLoaded"
                [min] = "0"
                [max]= "1"
                [step]="0.1"
                [thumbLabel]="true"
                color="accent"
                [(value)]="Gamma"
                (click)="$event.stopPropagation();"
            ></mat-slider>
            <br>
            <button mat-button color="accent" (click)="compEscDin()" [disabled]="!servico.isLoaded">Aplicar</button>
        </mat-menu>

        <mat-menu #func2="matMenu">
            <button mat-button color="accent" (click)="media()" [disabled]="!servico.isLoaded">Media</button>
            <br>
            <button mat-button color="accent" (click)="mediana()" [disabled]="!servico.isLoaded">Mediana</button>
            <br>
            <button mat-button color="accent" (click)="laplace()" [disabled]="!servico.isLoaded">Laplace</button>
            <br>
            <button mat-button color="accent" (click)="laplaceSharp()" [disabled]="!servico.isLoaded">Realce laplaciano</button>
            <br>
            <button mat-button color="accent" (click)="sobel()" [disabled]="!servico.isLoaded">Sobel</button>
            <br>
            <button mat-button color="accent" (click)="pontoMin()" [disabled]="!servico.isLoaded">Ponto mínimo</button>
            <br>
            <button mat-button color="accent" (click)="pontoMax()" [disabled]="!servico.isLoaded">Ponto maximo</button>
            <br> 
            <button mat-button color="accent" (click)="pontoMed()" [disabled]="!servico.isLoaded">Ponto medio</button>
        </mat-menu>

        <mat-menu #func3="matMenu">
            <button mat-button [disabled]="true">Porcentagem do ruído</button>
            <mat-slider
            [disabled]="!servico.isLoaded"
            [min] = "0"
            [max]= "100"
            [thumbLabel]="true"
            [step]="1"
            color="accent"
            [(value)]="ruido"
            (click)="$event.stopPropagation();"
            ></mat-slider><br>
            <button mat-button color="accent" (click)="ruidoPreto()" [disabled]="!servico.isLoaded">Ruído preto</button>
            <br>
            <button mat-button color="accent" (click)="ruidoBranco()" [disabled]="!servico.isLoaded">Ruído branco</button>
            <br>
            <button mat-button color="accent" (click)="saltPepper()" [disabled]="!servico.isLoaded">Sal e pimenta</button>
        </mat-menu>
        <mat-menu #func4="matMenu">
            <button mat-button [disabled]="true">Raio para as passadas</button>
            <mat-slider
                [disabled]="!servico.isLoaded"
                [min] = "0"
                [max]= "100"
                [thumbLabel]="true"
                [step]="1"
                color="accent"
                [(value)]="raioPassada"
                (click)="$event.stopPropagation();">
            </mat-slider>
            <br>
            <button mat-button color="accent" (click)="dct()" [disabled]="!servico.isLoaded">DCT</button>
            <br>
            <button mat-button color="accent" (click)="idct()" [disabled]="!servico.isLoaded">IDCT</button>
            <br>
            <button mat-button color="accent" (click)="passaBaixa()" [disabled]="!servico.isLoaded">Passa baixa</button>
            <br>
            <button mat-button color="accent" (click)="passaAlta()" [disabled]="!servico.isLoaded">Passa alta</button>
        </mat-menu>
        <h1></h1>
        <a href="https://drive.google.com/drive/u/0/folders/1z9NXFhD-Ui1euSg91UHql3M6TMCIIfGE" target="_blank" button mat-stroked-button color="accent">
            PGMs de exemplo
            <mat-icon>exit_to_app</mat-icon>
        </a>
        <div class="tools">
            <div class="flex">
                <div class="centerBox">
                    <h3>RGB</h3>
                    <input id="R" size="1" [(value)]="textoR" #textR>
                    <input id="G" size="1" [(value)]="textoG" #textG>
                    <input id="B" size="1" [(value)]="textoB" #textB>
                    <button mat-button color="accent" (click)="converterRGB2HSL(textR.value, textG.value, textB.value)">converter rgb</button>
                </div>
                <div class="centerBox">
                    <h3>HSL</h3>
                    <input id="H" size="1" [(value)]="textoH" #textH>
                    <input id="S" size="1" [(value)]="textoS" #textS>
                    <input id="L" size="1" [(value)]="textoL" #textL>
                    <button mat-button color="accent" (click)="converterHSL2RGB(textH.value, textS.value, textL.value)">converter hsl</button>
                </div>
            </div>
        </div>
    </div>
    <app-visual></app-visual>
</div>