:host{
    text-align: center;
}
.aspero{
    image-rendering: pixelated;
}
button{
    width: 200px;
}
.numeros{
    padding: 10px;
    background-color: #e0e4f6;
    border-radius: 10px;
    width: 220px;
}
.matriz{
    border: none;
}
canvas{
    max-width: 40%;
    min-width: 200px;
}